# =========================
# Dependencies
# =========================
**/vendor/
**/node_modules/

# =========================
# NPM Logs
# =========================
**/npm-debug.log
**/yarn-error.log

# =========================
# Laravel 4 specific
# =========================
**/bootstrap/compiled.php
**/app/storage/

# =========================
# Laravel 5 & Lumen specific
# =========================
**/public/storage
**/public/hot
**/public/build

# =========================
# Laravel 5 & Lumen specific with changed public path
# =========================
**/public_html/storage
**/public_html/hot

# =========================
# Storage & Keys
# =========================
**/storage/*.key
**/storage/pail
**/storage/logs/*
**/storage/framework/*
!**/storage/framework/.gitignore

# =========================
# Environment Files
# =========================
**/.env
**/.env.*
**/.env.backup
**/.env.production

# =========================
# Testing / Cache
# =========================
**/.phpunit.result.cache

# =========================
# Dev Tools
# =========================
**/.phpactor.json
**/auth.json

# =========================
# Vagrant
# =========================
**/.vagrant
**/Homestead.yaml
**/Homestead.json